.technology_container {
   background-image: url("/assets/technology/background-technology-desktop.jpg");
}

.technology_main_container {
   display: grid;
   gap: 20px;
   width: 90%;
   margin-left: 10%;
   padding: 1rem 0;
}

.technology_sub_container {
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   gap: 20px;
   align-items: center;
}

.technology_img {
   width: 100%;
}

.tech_nav_cont {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 40px;
   padding-right: 1rem;
}

.tech_nav {
   flex-direction: column;
   display: flex;
   gap: 20px;
}

.tech_link {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 1px solid var(--primary);
   display: grid;
   place-items: center;
   font-size: 32px;
}

.tech_active {
   background: var(--white);
   color: var(--black);
}

.tech_data {
   display: grid;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}

.tech_data_header {
   color: var(--powderBlue);
   font-family: var(--secondary-font);
   font-size: 16px;
}

.tech_date_type {
   font-size: 56px;
   font-family: var(--header-font);
}

.tech_data_description {
   font-size: 16px;
   color: var(--powderBlue);
   width: 80%;

}
.tech_number {
   color: var(--primary);
}

/* ======== MEDIA QUERIES ========= */

@media (max-width: 1100px) {
   .tech_date_type {
      font-size: 40px;
   }
}


@media (max-width: 900px) {
   .technology_container {
      background-image: url("/assets/technology/background-technology-tablet.jpg");
   }

   .technology_main_container {
      width: 100%;
      padding: 1rem 0;
      margin: 0;
   }
   .technology_sub_container {
      display: flex;
      flex-direction: column-reverse;
   }
   .technology_img {
      width: 100vw;
      height: 400px;
      padding: 2rem 0;
   }
   .tech_nav_cont {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
   }
   .tech_nav {
      flex-direction: row;
      font-size: 20px;
   }
   .tech_data {
      place-items: center;
   }
   .tech_data_description {
      text-align: center;
      width: 70%;
      padding-bottom: 2rem;
   }
   .tech_date_type {
      font-size: 40px;
      padding: 16px;
   }
   .tech_page_description {
      font-size: 20px;
      padding-left: 2rem;
   }
}

@media (max-width: 500px) {
   .technology_container {
      background-image: url("/assets/technology/background-technology-mobile.jpg");
   }
   .tech_link {
      width: 40px;
      height: 40px;
      font-size: 15px;
   }
   .tech_date_type {
      font-size: 24px;
   }
   .tech_data {
      gap: 0;
   }
   .tech_page_description {
      text-align: center;
   }
}